@using SchoolSystem.Core.Models.Student
@model AddStudentViewModel;
@{
    ViewData["Title"] = "Add student";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="text-center mb-3">
                    <label asp-for="@Model.UserName" class="form-label">Username</label>
                    <input asp-for="@Model.UserName" class="form-control" autocomplete="UserName" aria-required="true" />
                    <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                </div>
                <div class="text-center mb-3">
                    <label asp-for="@Model.GroupNumber" class="form-label">Group Number</label>
                    <input asp-for="@Model.GroupNumber" class="form-control" autocomplete="Group-Number" aria-required="true" />
                    <span asp-validation-for="@Model.GroupNumber" class="text-danger"></span>
                </div>
                <div class="text-center">
                    <button id="login-submit" type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </section>
    </div>
</div>